In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
from wordcloud import WordCloud

from konlpy.tag import Okt         ; t = Okt()     # 구 트위터
from konlpy.tag import *

import nltk
import pickle

In [8]:
# Load pickle
with open('./with_name/with_len_okt.pkl', 'rb') as f:
    df_without = pickle.load(f)
with open('./with_name/with_up_unique.pkl', 'rb') as f:
    up_only_unique = pickle.load(f)
with open('./with_name/with_down_unique.pkl', 'rb') as f:
    down_only_unique = pickle.load(f)

In [7]:
df_without.shape

(611473, 6)

In [ ]:
idx=0
df_without['u_score'] = ''
df_without['u_words'] = ''
for sen in df_without['okt']:
    temp = list()
    # print(i)
    for i in sen:
        for c in up_only_unique:
            score = 0
            if i == c:
                score +=1
                temp.append(c)
            df_without.at[idx,'u_score'] = score
        df_without.at[idx,'u_words'] = temp
    idx += 1



print("d_score: starts")
idx=0
df_without['d_score'] = ''
df_without['d_words'] = ''
for sen in df_without['okt']:
    temp = list()
    for i in sen:
        for c in down_only_unique:
            score = 0
            if i == c:
                score -=1
                temp.append(c)
            df_without.at[idx,'d_score'] = score
        df_without.at[idx,'d_words'] = temp
    idx += 1

In [77]:
# Save pickle
with open('./with_name/with_score_words.pkl', 'wb') as f:
    pickle.dump(df_without, f)

In [121]:
df_without.sample(30)

,뉴스제목,주가변동,str_len,okt,u_score,u_words
73149,두산연강재단 제회 두산연강예술상 시상식 개최,0,24,"[두산연강재단, 제, 회, 두산, 연강, 예술상, 시상식, 개최]",,
11019,낙동강 청정지역 영풍 석포제련소 환경법령 무더기 위반,0,29,"[낙동강, 청정, 지역, 영풍, 석, 포, 제련소, 환경, 법령, 무더기, 위반]",,
451215,청주시의회 부동산 조정대상지역 해제 촉구,1,22,"[청주시, 의회, 부동산, 조정, 대상, 지역, 해제, 촉구]",,
536133,ET투자뉴스두산밥캣상장주식수 대비 거래량은 로 적정수준,0,30,"[ET, 투자, 뉴스, 두산, 밥캣, 상, 장주, 식수, 대비, 거래량, 은, 로,...",,
476664,현대차證 한솔제지 글로벌 경기 둔화로 수익 예상 하향목표가↓,0,33,"[현대차, 證, 한솔, 제지, 글로벌, 경기, 둔화, 로, 수익, 예상, 하향, 목...",,
146146,탈원전에 발묶인 두산重 명 대상 명예퇴직 실시,0,25,"[탈, 원전, 에, 발, 묶인, 두산, 重, 명, 대상, 명예퇴직, 실시]",,
382080,물의 CJ 이선호 년 개월 만에 슬그머니 복귀,0,25,"[물의, CJ, 이선호, 년, 개월, 만에, 슬그머니, 복귀]",,
278042,현대바이오 전일 대비 약 상승한 원,0,20,"[현대, 바이오, 전일, 대비, 약, 상승, 한, 원]",,
115579,카카오게임즈 유망 개발사 사에 총 억 전략적 투자 진행,1,30,"[카카오, 게임, 즈, 유망, 개발, 사, 사, 에, 총, 억, 전략, 적, 투자,...",,
242174,무디스 현대기아차 전망 부정적 조정,1,19,"[무디스, 현대, 기아차, 전망, 부정, 적, 조정]",,
340827,SK하이닉스는 잡혔는데 성과급 논란 다른 기업 확산,0,28,"[SK, 하이닉스, 는, 잡혔는데, 성과급, 논란, 다른, 기업, 확산]",,
313216,김동관 한화솔루션 사내이사에 힘받는 한화家 세경영,1,27,"[김동관, 한화, 솔루션, 사, 내, 이사, 에, 힘, 받는, 한화, 家, 세, 경영]",,
280220,클릭 e종목두산인프라코어 돋보이는 수익성 방어 능력,1,28,"[클릭, e, 종목, 두산인프라코어, 돋보이는, 수익, 성, 방어, 능력]",,
466184,한미약품 년 매출 조억원 RD에 억원 투자,0,23,"[한미, 약품, 년, 매출, 조억원, RD, 에, 억원, 투자]",,
498568,넥슨 인수 넷마블카카오 제코가 석자,1,19,"[넥슨, 인수, 넷마블, 카카오, 제코, 가, 석, 자]",,
87881,고려아연 금속가격 강세로 분기 양호한 실적 거둘 것 NH,0,31,"[고려아연, 금속, 가격, 강세, 로, 분기, 양호, 한, 실적, 거둘, 것, NH]",,
131474,오늘 기업 오늘 사람 셀트리온삼성바이오로직스포스코,0,27,"[오늘, 기업, 오늘, 사람, 셀트리온, 삼, 성, 바이오, 로, 직스, 포스코]",,
538493,한국금융지주 다양한 투자 결실 카카오뱅크 지분 매각 순항 기대,1,34,"[한국, 금융, 지주, 다양한, 투자, 결실, 카카오, 뱅크, 지, 분, 매각, 순...",,
120454,씽씽 오는 일까지 SK텔레콤 회원에게 천원 킥보드 이용 쿠폰 증정,0,36,"[씽씽, 오는, 일, 까지, SK, 텔레콤, 회원, 에게, 천원, 킥, 보드, 이용...",,
254344,신세계는 김앤장 이마트는 태평양우리가 남이가,0,24,"[신세계, 는, 김앤장, 이마트, 는, 태평양, 우리, 가, 남이가]",,
595927,CJ ENM 오쇼핑부문 제주신화월드 숙박권 판매,0,26,"[CJ, ENM, 오, 쇼핑, 부문, 제주, 신화, 월드, 숙박, 권, 판매]",,
173178,SK하이닉스 주 신고가 경신 전일 외국인 대량 순매수,1,29,"[SK, 하이닉스, 주, 신고, 가, 경신, 전일, 외국인, 대량, 순, 매수]",,
117665,한경로보뉴스 전일 기관 코스닥에서 컴투스 엘앤에프,0,29,"[한, 경로, 보, 뉴스, 전일, 기관, 코스닥, 에서, 컴투스, 엘앤, 에프]",,
63181,LIG넥스원 중동 최대 방산전시회 IDEX 참가,1,27,"[LIG, 넥스, 원, 중동, 최대, 방산, 전시회, IDEX, 참가]",,
28609,기술유출 주장하는 LG화학메디톡스가 美무역사법당국 간 이유는,1,33,"[기술, 유출, 주장, 하는, LG, 화학, 메, 디톡스, 가, 美, 무역, 사법,...",,
286721,신세계인터내셔날 주 신고가 경신 예상을 크게 상회하는 비디비치의 매력,0,40,"[신세계, 인터, 내셔, 날, 주, 신고, 가, 경신, 예상, 을, 크게, 상회, ...",,
225004,동남아중화권 야시장으로 변신한 신세계백화점,0,23,"[동남아, 중화권, 야시장, 으로, 변신, 한, 신세계, 백화점]",,
5619,LG전자 LG 그램 신제품 일본 출시,0,21,"[LG, 전자, LG, 그램, 신제품, 일본, 출시]",,
197051,삼성생명 저해지환급형종신보험 종 출시,0,20,"[삼성, 생명, 저, 해지, 환급, 형, 종신, 보험, 종, 출시]",,
152390,SK㈜ CC두산중공업 스마트 제조 디지털 플랫폼 사업 협력,0,32,"[SK, ㈜, CC, 두산, 중공업, 스마트, 제조, 디지털, 플랫폼, 사업, 협력]",,