https://towardsdatascience.com/building-a-logistic-regression-in-python-step-by-step-becd4d56c9c8
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [2]:
import pandas as pd
import numpy as np
import pickle


import warnings
warnings.filterwarnings('ignore')

In [3]:
with open('./with_name/clean_EDA_ready.pkl', 'rb') as f:
    courpus = pickle.load(f)

In [ ]:
# with open('./with_name/----.pkl', 'wb') as f:
#     pickle.dump(corpus, f)

In [4]:
courpus

                                     뉴스제목  주가변동
0             LG생활건강 숨 로시크숨마 황제의 빛 에디션 선봬     1
1            IRSK이노베이션 내년 시설투자 올해보다 낮은 수준     1
2               수출입銀 CJ대한통운 해외채권 발행 공동 보증     0
3       브랜드 아파트 만원대에 마련할 마지막 기회 사천 KCC스위첸     1
4        윤종규 KB금융지주 회장 금융그룹 최초로 탈석탄 금융 선언     1
...                                   ...   ...
468379        공매도 조원 매물 쏟아져삼성전자 공매도 이틀째 위     0
468380            CJ제일제당 글로벌 수준 경영 인프라 구축     0
468381                  하이트진로 세 박태영 사장 승진     1
468382          특징주 형제의 난 재점화 가능성에롯데지주 강세     0
468383       KT주도 클라우드 원팀에 한컴 등 개 기업기관 합류     0

[468384 rows x 2 columns]